*.7z
*.drc
*.gbk
*.IB
*.identcache
*.local
*.map
*.todo
*.tvsconfig
*.~dsk
*.zip
/.svn/
/__history/
/__recovery/
/bin/
/tws/
/Documents/
/ModelSupport_TrendTrader/
/Sources/__history/
/Sources/__recovery/
/Sources/DataModules/__history/
/Sources/IABSocketAPI/__history/
/Sources/IABSocketAPI/API_all_platform/__history/
/Sources/IABSocketAPI/BCB/__history/
/Sources/ColumnSettings/__history/
/Sources/DataModules/__recovery/
/Sources/Entities/__history/
/Sources/OrderTemplate/__history/
/Sources/Qualifiers/__history/
/Sources/Qualifiers/__recovery/
/Sources/Scanner/__history/
/Sources/Search/__history/
/Sources/Virtual TreeView/__history/
/Sources/AutoTrades/__history/
/Sources/NordNetAPI/__history/
/Sources/Brokers/__history/
/Sources/Charts/__history/
/Sources/Scanner/__recovery/
/Sources/AutoTrades/__recovery/
